

* {
  /*margin: 0 auto;*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /*background-image: url("/images/swoosh.png");*/
  /*background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  -webkit-animation: fadein 3s;
  position: relative;*/
}
img {
opacity: .8;
/*max-width: 50%;
max-height: 50%;*/

}

.header img {
  width: 100%;
  height: 50%;
}

a:link {
  text-decoration: none;
  opacity: .7;
  color: black;
  font-family: 'Roboto';
}
a:hover {
  color: slategrey;
  opacity: 1;
}


.navwrap {
  /*background-color: rgba(69,69,69, .75);*/
  opacity: .9;
  /*top: 0;*/
}

.nav {
    display: flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
    -webkit-animation: fadein 3s;
    color: white;
    background-color: white;
    /* Safari, Chrome and Opera > 12.1 */
    top: 0;
    /*position: absolute;*/
}

.users {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  font-family: 'Roboto';
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
}

.newscore {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';

}
.header {
  display: flex;

  /*max-width: 50%;*/
  height: auto;
  /*position: absolute;*/
}



#container {
  display: flex;
  align-items: center;
  justify-content: center;

}
h1 {
  color: black;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 1.6em;
  color: slategrey;


}

.mainstuff h1 {
  display: flex;
  font-family: 'Roboto';
  font-weight: 100;
  font-style: italic;
  font-size: 1.9em;
  opacity: .5;
}


.mainstuff {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}

.heading {
  /*color: black;*/
  text-align: left;
  position: absolute;
  padding-top: 20px;
  padding-left: 20px;


}

@media screen and (max-width: 600px) {

  /*.mainstuff h1 {
    color: white;
  }*/
