
* {
  box-sizing: border-box;
}
html {
  background: url("/images/swoosh.png") no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img {
  opacity: .9;
  width: 100px;
  height: auto;
}
a:link {
  text-decoration: none;
  opacity: .9;
  color: white;
  font-family: 'Roboto';
  font-weight: 100;
}
a:hover {
  color: slategrey;
  opacity: 1;
}
a:visited {
  text-decoration: none;
}
a {
  color: white;
  font-weight: 100;
}
.navwrap {
  opacity: .9;
}
.nav {
    display: flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
    -webkit-animation: fadein 3s;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: white;
  font-family: 'Roboto';
  font-size: 1.6em;
}
li {
padding: 5px;
color: white;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}
.mainstuff h1 {
  display: flex;
  font-family: 'Roboto';
  font-weight: 100;
  font-style: italic;
  font-size: 2.5em;
  opacity: .7;
  -webkit-animation: fadein 7s;
}
.users {
  color: white;
  font-family: 'Roboto';
  font-weight: 100;
  -webkit-animation: fadein 5s;
  padding-top: 10px;
  margin-top: 1%;
  padding-right: 10px;
}
#users {
  -webkit-animation: fadein 5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainstuff {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  flex-wrap: wrap;
  animation-name: move;
  animation-duration: 2s;
}
.newscore select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: white;
  border-radius: 30px;
  line-height: 1;
  padding: 5px;
  width: 150px;
  height: 30px;
}
.newscore button {
  background: transparent;
  color: white;
  padding-top: 5px;
  border-radius: 5px;
  width: 200px;
  height: 40px;
}
.newscore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  opacity: .9;
  margin-top: 0;
  -webkit-animation: fadein 4s;
}
.button {
  padding-top: 10px;
}
table {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Roboto';
  line-height: 1;
  border-spacing: 1.2em;
}
th {
  height: 20px;
  text-align: left;
}
button {
  font-size: 1.5em;
  cursor: pointer;
  font-family: 'Roboto';
}
.checkboxlabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.invis {
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}
li:first-child {
  border: 1px solid slategrey;
  opacity: .9;
  border-radius: 2px;
}
li:first-child:hover {
  background-color: #34495E;
  opacity: .5;
}

/*------key frames------*/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move {
   /*from to */
   0% {
     left: 0px;
   }

   50% {
     left: 100px;
   }
   100% {
     left: 0px;
   }


/*phone size media query */

@media screen and (max-width: 600px) {

  .nav {
    flex-direction: column;

    align-items: center;

    -webkit-flex-direction: column;
    -webkit-justify-content: space-around;
  }
}
